<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>header}}
    
    <section class="about-page">
        <div class="box-img">
            <img src="./img/about.webp" alt="">
        </div>
        <div class="content-box">
            <h3>About Us</h3>
            <h1>Every Day Is A Chance To</br> Become Better</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sed, voluptate. Dolore architecto hic dolorum ipsum odio, Dolore architecto hic dolorum ipsum odio, </p>
            <div class="contents">
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Body and Mind </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Healthy Life</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Strategics</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Workout</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <button>Read More</button>
            </div>
        </div>
    </section>


    {{>footer}}
</body>
</html>