<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="Shortcut Icon" href="./img/befit1.png" sizes="64x64">

    <link rel="shortcut icon" type="image/jpg" href="img/img.jpg/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="main.css">

    <title>Document</title>
</head>

<body>
    {{!-- Navbar Header form header.hbs file --}}
    {{!-- {{>header}} --}}
        <nav>
    <div class="logo">BE <span style="color: #fff;">FIT</span> </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars" style="color: #000;"></i>
    </label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#price">Pricing</a></li>
      <li><a href="#trainer">Trainers</a></li>
      <li><a href="#end">Contact Us</a></li>
      <!--<li><i class="fa fa-search"></i></li>
           <li><i class="fa fa-user"></i></li>             
           <li><i class="fa fa-shopping-cart"></i></li> -->
    </ul>
  </nav>
    {{!-- Set background --}}
    <div class="container-1">
        <div class="content">
            <p>Be Strong. Be Fit</p>
            <h1>Make Yourself Stronger</br> Than Your Excuses</h1>
            <div class="btns">
                <button>Get Started</button>
            </div>
        </div>
    </div>

    <section class="about-page" id="about">
        <div class="box-img">
            <img src="./img/about.webp" alt="">
        </div>
        <div class="content-box">
            <h3>About Us</h3>
            <h1>Every Day Is A Chance To</br> Become Better</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Sed, voluptate. Dolore architecto hic dolorum ipsum odio, Dolore architecto hic dolorum ipsum odio, </p>
            <div class="contents">
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Body and Mind </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Healthy Life</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Strategics</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <div class="content-items">
                    <h1><i class="fa fa-check"></i>Workout</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit</p>
                </div>
                <button>Read More</button>
            </div>
        </div>
    </section>

    <section class="price" id="price">
        <div class="price-row">
            <div class="price-col">
                <span>Pricing Plan</span>
                <h1>Affordable Pricing Plan For Your</h1>
                <p>Lorem ipsum dolor sit amet consectetur it eaque, cupiditate magni officia totam molestias accusamus
                </p>
                <div class="icon-check">
                    <h1> <i class="fa fa-check"></i> Cardio Exercise </h1>
                    <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                    <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                    <h1> <i class="fa fa-check"></i> Overall Results</h1>
                </div>
                <button>All Pricing</button>
            </div>

            <div class="price-col">
                <div class="price-m">
                    <h1>Basic Plan</h1>
                    <p>$ <span>10</span>/Mo</p>
                    <div class="icon-check">
                        <h1> <i class="fa fa-check"></i> Personal Training </h1>
                        <h1> <i class="fa fa-check"></i> Cardio Exercise</h1>
                        <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                        <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                        <h1> <i class="fa fa-check"></i> Overall Results</h1>
                    </div>
                    <button>Get Started</button>
                </div>
            </div>

            <div class="price-col">
                <div class="price-p">
                    <h1>Basic Plan</h1>
                    <p>$ <span>30</span>/Mo</p>
                    <div class="icon-check">
                        <h1> <i class="fa fa-check"></i> Personal Training </h1>
                        <h1> <i class="fa fa-check"></i> Cardio Exercise</h1>
                        <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                        <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                        <h1> <i class="fa fa-check"></i> Overall Results</h1>
                    </div>
                    <button>Get Started</button>
                </div>
            </div>

        </div>
    </section>

    <section class="expert" id="trainer">
        <h1 class="title-features"><span>Expert Trainers</span></h1>

        <div class="expert-row">
            <div class="expert-col">
                <img src="./img/trainer1.jpg" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>John Deo</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer3.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>Zuri</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer2.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>Marks Axel</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer4.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Master Expert Trainer</span>
                    <p>Daina</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="fixed-bg">
        <div class="join-us">
            <span>Join Us Now</span>
            <h1>Get upto 50% discount</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quasi officiis <br>iure cupiditate
                nesciunt! Fugit </p>
            <button>Get Discount</button>
        </div>
    </section>

    <section class="testimonial">
        <div class="testi-row">
            <div class="testi-col">
                <span>Testimonials</span>
                <h1>What our clients says</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Officia nemo cum, excepturi, odit
                    molestiae
                </p>
                <button>Read More</button>
            </div>
            <div class="testi-col">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>Zuri</h1>
                                    <span>AI Programe</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>john Deo </h1>
                                    <span>Designer</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>john Deo </h1>
                                    <span>Designer</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>john Deo </h1>
                                    <span>Designer</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>john Deo </h1>
                                    <span>Designer</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="comments">
                                <div class="name">
                                    <img src="./img/profile.webp" alt="">
                                    <h1>john Deo </h1>
                                    <span>Designer</span>
                                </div>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse error, cumque ex animi
                                    even</p>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="swiper-pagination"></div> --}}
                </div>
            </div>
        </div>
    </section>


    {{!-- {{>footer}} --}}
   
    <section class="end" id="end">
        <div class="end-row container">
            <div class="end-col">
                <h1>quick links</h1>
                <p>home</p>
                <p>about</p>
                <p>features</p>
                <p>Pricing</p>
                <p>Trainers</p>
                <p>blogs</p>
            </div>

            <div class="end-col">
                <h1>opening hours</h1>
                <p>monday: <span>7:00am - 10:30pm</span> </p>
                <p>tuesday: <span>7:00am - 10:30pm</span> </p>
                <p>wednesday: <span>7:00am - 10:30pm</span> </p>
                <p>friday: <span>Closed</span> </p>
                <p>saturday: <span>7:00am - 10:30pm</span> </p>
                <p>sunday:<span>7:00am - 10:30pm</span> </p>
            </div>

            <div class="end-col">
                <h1>Contact</h1>
                <p><i class="fa-solid fa-phone"></i> +92 304-3763110</p>
                <p><i class="fa-solid fa-phone"></i> +111-222-3333</p>
                <p><i class="fa-solid fa-folder"></i> usmanh3321@gmail.com</p>
                <p><i class="fa-solid fa-location-dot"></i> Punjab, Sadiqabad-22451</p>
                <div class="social-contact">
                   <i class="fa-brands fa-facebook"></i>
                   <i class="fa-brands fa-twitter"></i>
                   <i class="fa-brands fa-whatsapp"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>

            <div class="end-col" >
                <h1>newsletter</h1>
                <p>subscribe for latest updates</p>
                <form action="/" method="post" >
                <input type="text" placeholder="enter your email" name="mail">
                <br>
                <button>Subscribe</button>
                </form>
                {{!-- <form method="post" name="/addname">
        <input id="pickName" type='text' name='pickName' placeholder='Nickname' required>
        <input id='ready' value=" Ready >" type='submit'>
    </form> --}}
            </div>
        </div>
    </section>

    <footer>
        <p>created by <span>usman khan</span> | all rights reserved</p>
    </footer>




    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 2,
            spaceBetween: 180,
            freeMode: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>