<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


    <link rel="shortcut icon" type="image/jpg" href="img/img.jpg/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="main.css">

    <title>Document</title>
</head>
<body>
    {{>header}}
    <section class="price">
        <div class="price-row">
            <div class="price-col">
                <span>Pricing Plan</span>
                <h1>Affordable Pricing Plan For Your</h1>
                <p>Lorem ipsum dolor sit amet consectetur it eaque, cupiditate magni officia totam molestias accusamus
                </p>
                <div class="icon-check">
                    <h1> <i class="fa fa-check"></i> Cardio Exercise </h1>
                    <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                    <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                    <h1> <i class="fa fa-check"></i> Overall Results</h1>
                </div>
                <button>All Pricing</button>
            </div>

            <div class="price-col">
                <div class="price-m">
                    <h1>Basic Plan</h1>
                    <p>$ <span>10</span>/Mo</p>
                    <div class="icon-check">
                        <h1> <i class="fa fa-check"></i> Personal Training </h1>
                        <h1> <i class="fa fa-check"></i> Cardio Exercise</h1>
                        <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                        <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                        <h1> <i class="fa fa-check"></i> Overall Results</h1>
                    </div>
                    <button>Get Started</button>
                </div>
            </div>

            <div class="price-col">
                <div class="price-p">
                    <h1>Basic Plan</h1>
                    <p>$ <span>30</span>/Mo</p>
                    <div class="icon-check">
                        <h1> <i class="fa fa-check"></i> Personal Training </h1>
                        <h1> <i class="fa fa-check"></i> Cardio Exercise</h1>
                        <h1> <i class="fa fa-check"></i> Weight Lifting</h1>
                        <h1> <i class="fa fa-check"></i> Diet Plans</h1>
                        <h1> <i class="fa fa-check"></i> Overall Results</h1>
                    </div>
                    <button>Get Started</button>
                </div>
            </div>

        </div>
    </section>
{{>footer}}    
</body>
</html>