<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />


    <link rel="shortcut icon" type="image/jpg" href="img/img.jpg/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="main.css">

    <title>Document</title>
</head>
<body>
{{>header}}

    <section class="expert">
        <h1 class="title-features"><span>Expert Trainers</span></h1>

        <div class="expert-row">
            <div class="expert-col">
                <img src="./img/trainer1.jpg" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>John Deo</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer3.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>Zuri</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer2.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Expert Trainer</span>
                    <p>Marks Axel</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="expert-col">
                <img src="./img/trainer4.jpg" width="200px" height="350px" alt="">
                <div class="expert-details">
                    <span>Master Expert Trainer</span>
                    <p>Daina</p>
                    <div class="contect-icon">
                        <a href="https://www.facebook.com/profile.php?id=100028747641234"><i
                                class="fa-brands fa-facebook"></i></a>
                        <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{>footer}}
</body>
</html>